h1, h2, h3, h4 {
    font-weight: 300;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    min-width: 300px;
    max-width: 750px;
    border-radius: 40px;
    border: 5px solid white;
    padding: 20px;
}

input[type=text] {
    border-radius: 5px;
    border: 1px solid black;

}